html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    color: white;
    font-weight: 800;
    font-size: 40px;
}


h2 {
    color: #F5F5F5;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

h4 {
    color: #D5D4D8;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.flex {
    display:flex;
}

.upper-section {
    background-color: #3A69D2;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}

.upper-section p {
    font-size: 16px;
    color: white;
}

.bottom-section {
    background-color: #1F2937;
    width: 100%;
    padding: 5vh 5vw;
}

.container-options {
    display:flex;
    align-items: center;
    gap: 2vw;
    padding-bottom: 5vh;
}

.pricing-details-up{
    flex-direction: column;
}
.price-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #D1D4F4;
    border-radius: 7px;
    flex-grow: 1;
    cursor: pointer;
}

.price-item:hover {
    background-color: #D5D4D8;
}

.pricing-details-bottom {
    flex-direction: column;
}

.price-infos {
    padding: 1vh 0vw;
    position:relative;
}

.price-infos > *:first-child{
    flex:1;
}

.remove {
    color: #D5D4D8;
    font-weight: 400;
    font-size: 10px;
    padding-left: 2vw;
    cursor: pointer;
    transition: 0.3s ;

}

.remove:hover {
    font-size: 12px;
}


.horizontal-bar{
    width: 100%;
    height: 1px;
    background-color: #C3C6DB;
    margin: 5vh 0vh;
}

.btn-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.btn-send {
    width: 50%;
    background-color: #3A69D2;
    padding: 2vh 5vh;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #244da3;
}

#final-price {
    display:flex;
    color: white;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 36px;
}